$bg: #16161D;
$color-black: #212028;
$color-black-transparent: rgba(33, 32, 40, 0.80);
$color-black-text: #151515;
$color-black-item: #13171E;
$color-black-item-transparent: rgba(19, 23, 30, 0.60);
$color-white: #ffffff;
$color-white-transparent: rgba(255, 255, 255, 0.60);
$color-dark-grey: #CECECE;
$color-blue: #4C3FA5;
$color-red: #F64C57;
$color-green: #81CCAB;
$color-violet: #9E4885;

$color-input-border: rgba(206, 206, 206, 0.20);
$color-input-background: #212028;
$color-input-text: #CECECE;

$color-btn-bg: #4C3FA5;
$color-btn-text: #ffffff;
$color-btn-hover: #36298AFF;

$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;

$offset-6: 6px;
$offset-12: 12px;
$offset-20: 20px;
$offset-24: 24px;
$offset-28: 28px;
$offset-30: 30px;
$offset-32: 32px;

$font-regular: 'SFUIDisplay-Regular', sans-serif;
$font-semibold: 'SFUIDisplay-Semibold', sans-serif;
$font-bold: 'SFUIDisplay-Black', sans-serif;

$border-radius: 20px;
